* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
}
nav {
    background-color: rgb(101, 6, 255);
    color: white;
    padding: 2px;
    height: 50px;
    font-size: large;
}
nav a {
  color: white;
}
nav .title {
  position: relative;
  text-align: left;
  margin: 5px;
}
right {
    float: right;
    text-align: left;
    margin-left: 35px;
    background: none;
    padding: 5px;
    font-size: 15px;
}
right button {
    position: absolute;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.212);
    margin: 5px;
    margin-top: 5px;
    padding: 5px;
    color: rgb(255, 255, 255);
    outline: none;
    border: 1px soild;
    border-color: white;
}
.lang {
  position: relative;
  margin-right: 5px;
  top: 1px;
}
.language {
  font-size: 15px;
  width: 130px;
  border: none;
  margin: 5px;
  margin-top: 9px;
  margin-left: 150px;
  background: none;
  color: white;
  outline: none;
}
