.intxt {
    padding: 3px;
    border: none;
    border-bottom: solid 2px #6f00ff;
    outline: none;
    width: 75%;
    font-size: 15px;
}
.intxt::placeholder {
    color: gray;
}
.inbtn {
   margin: 4px;
    background: none;
    border: solid 1px #000;
    border-radius: 3px;
    padding: 3px;
    font-size: 16px;
    outline: none;
}
.inbtn:focus {
    box-shadow: 0 0 3px #8003f4;
}
.inselect {
    background: none;
    padding: 5px;
    font-size: 15px;
    outline: none;
    width: 75%;
}
.inselect option {
    outline: none;
    padding: 5px;
    font-size: 12px;
}
